body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  
  #characters-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .character-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    box-shadow: 5px;
  }
  
  .attribute{
    font-weight: bold;
    margin-right: 10px;
  }
  
  .character-detail{
    margin: 10px;
  }